h1 {
  text-align: center;
}

.ui-dialog.ui-widget.ui-widget-content {
  border: 1px solid black;
}
.ui-dialog.hidden {
  height: 2.25em !important;
}
.ui-dialog.hidden .ui-dialog-content {
  visibility: hidden;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon {
  background: none;
  text-indent: 0;
  font-size: 0.8em;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon::before {
  content: '▬';
}
.ui-dialog.hidden .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon::before {
  content: '▭';
  font-size: 1.3em;
}

#playerDialog {
  display: grid;
  grid-template:
    "status plpa info vol  ster" 6rem
    "entry  nav  info time time" minmax(3rem, auto)
    "seek   seek seek seek seek" 3rem
  /  3rem   6rem auto 3rem 3rem;
  place-items: center;
  margin: 1rem;
}
#playerDialog .plpa {
  grid-area: plpa;
}
#playerDialog .plpa .play {
  width: 2rem;
  height: 2rem;
  transform: scale(2);
}
#playerDialog .info {
  display: none;
  grid-area: info;
  /* border: 1px dashed gray; */
  place-self: stretch;
  padding: 0.2rem 1rem;
}
#playerDialog .info .row.major {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
}
#playerDialog .info .row.minor {
  margin-top: 2rem;
  font-size: 0.8rem;
}
#playerDialog .time {
  grid-area: time;
}
#playerDialog .status {
  grid-area: status;
}
#playerDialog .status .loop {
  width: 2rem;
  height: 2rem;
}
#playerDialog .seek {
  grid-area: seek;
  justify-self: stretch;
}
#playerDialog .vol {
  grid-area: vol;
  display: grid;
  grid-template:
    "volume max" 1fr
    "volume min" 1fr
  / 1fr 1fr
}
#playerDialog .vol .volume {
  grid-area: volume;
  height: 5rem;
}
#playerDialog .vol .volume-min {
  grid-area: min;
  align-self: end;
}
#playerDialog .vol .volume-max {
  grid-area: max;
  align-self: start;
}
#playerDialog .ster {
  grid-area: ster;
  display: grid;
  grid-template:
    "stereo max" 1fr
    "stereo med" 1fr
    "stereo min" 1fr
  / 1fr 1fr
}
#playerDialog .ster .stereo {
  grid-area: stereo;
  height: 5rem;
}
#playerDialog .ster .stereo-rev {
  grid-area: min;
  align-self: end;
}
#playerDialog .ster .mono {
  grid-area: med;
  align-self: center;
}
#playerDialog .ster .stereo-full {
  grid-area: max;
  align-self: start;
}
#playerDialog .ster .icon-group {
  white-space: nowrap;
  margin: -0.1em 0.2em;
  text-align: center;
}
#playerDialog .ster .icon-group * {
  margin: 0 -0.5em;
}
#playerDialog .entry {
  grid-area: entry;
  display: none;
  font-size: 1rem;
  font-weight: bold;
}
#playerDialog .nav {
  grid-area: nav;
  display: none;
}
#playerDialog .nav button {
  width: 2rem;
  height: 2rem;
}
#playerDialog .seek {
  height: 1.5rem;
}
#playerDialog .seek.ui-slider .ui-slider-handle {
  width: 1.5rem;
  height: 1.5rem;
  top: -0.06rem;
}
#playerDialog .volume,
#playerDialog .stereo {
  width: 0.8rem;
}
#playerDialog .volume.ui-slider .ui-slider-handle,
#playerDialog .stereo.ui-slider .ui-slider-handle {
  width: 0.8rem;
  height: 0.8rem;
  left: -0.06rem;
}

#miniPlayerDialog .ui-button-icon-only {
  height: 2rem;
}
#miniPlayerDialog .ui-visual-focus {
  box-shadow: none;
}
#miniPlayerDialog .controls .row {
  margin: 1rem 0;
}
#miniPlayerDialog .controls .group {
  display: inline-block;
}
#miniPlayerDialog .controls .seek {
  display: inline-block;
  width: 100px;
  margin: 0 1rem;
}
#miniPlayerDialog .controls .volume {
  display: inline-block;
  width: 100px;
  margin: 0 0.5rem;
}
#miniPlayerDialog .controls .stereo {
  display: inline-block;
  width: 100px;
  margin: 0 0.5rem;
}
#miniPlayerDialog .controls .group .scale {
  display: flex;
}
#miniPlayerDialog .controls .group.group1 .scale {
  margin: 0 1rem;
}
#miniPlayerDialog .controls .group.group2 .scale {
  margin: 0 0.70rem;
}
#miniPlayerDialog .controls .icon-group {
  flex-grow: 1;
}
#miniPlayerDialog .controls .icon-group > * {
  margin: -6px;
}
#miniPlayerDialog .controls .icon-group.volume-min {
  text-align: left;
}
#miniPlayerDialog .controls .icon-group.volume-max {
  text-align: right;
}
#miniPlayerDialog .controls .icon-group.stereo-rev {
  text-align: left;
}
#miniPlayerDialog .controls .icon-group.mono {
  text-align: center;
  padding-left: 3px;
}
#miniPlayerDialog .controls .icon-group.stereo-full {
  text-align: right;
}
#miniPlayerDialog .controls .ui-slider .ui-slider-handle {
  width: 0.8em;
  height: 0.8em;
  top: -0.06em;
}
#miniPlayerDialog .entry h2 {
  display: inline-block;
  vertical-align: middle;
}

#libraryDialog {
  overflow: hidden;
}
#libraryDialog .ui-button-icon-only {
  width: 2rem;
  height: 2rem;
}
#libraryDialog .ui-selectmenu-button {
  width: 2rem;
  height: 2rem;
  padding: 0;
}
#libraryDialog .ui-selectmenu-button .ui-selectmenu-text {
  display: none;
}
#libraryDialog .ui-selectmenu-button .ui-selectmenu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
body .ui-selectmenu-menu.groups .ui-menu .ui-selectmenu-optgroup {
  text-align: center;
  padding: 0.5em;
}
#libraryDialog .operations {
  display: inline-block;
}
#libraryDialog .dataTables_filter {
  padding-top: 0.3rem;
}
#libraryDialog input[type=search]::-webkit-search-cancel-button {
  filter: grayscale(100%);
}
#libraryDialog .info {
  float: left;
  padding-top: 0.75em;
}
#libraryDialog .status {
  float: right;
  padding-top: 0.75em;
}

#library td {
  padding: 4px;
}
#library tr.even td.sorting_1 {
  box-shadow: none;
}
#library tr.odd td.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%);
}
#library tr:hover td.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 4%);
}
#library tr.selected td {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 50%);
}
#library tr.selected:hover td {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 50%) !important;
}
#library tr.selected td.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 50%);
}
#library .ui-button-icon-only {
  width: 1.5rem;
  height: 1.5rem;
}

#playlistDialog {
  overflow: hidden;
}
#playlistDialog .ui-button-icon-only {
  width: 2rem;
  height: 2rem;
}
#playlistDialog .operations {
  display: inline-block;
}
#playlistDialog .dataTables_filter {
  padding-top: 0.3rem;
}
#playlistDialog input[type=search] {
  width: 8rem; /* TODO */
}
#playlistDialog input[type=search]::-webkit-search-cancel-button {
  filter: grayscale(100%);
}
#playlistDialog .info {
  float: left;
  padding-top: 0.75em;
}
#playlistDialog .status {
  float: right;
  padding-top: 0.75em;
}

#playlist td {
  padding: 4px;
}
#playlist tr.even td.sorting_1 {
  box-shadow: none;
}
#playlist tr.odd td.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%);
}
#playlist tr:hover td.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 4%);
}
#playlist tr.selected td {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 50%);
}
#playlist tr.selected:hover td {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 50%) !important;
}
#playlist tr.selected td.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 50%);
}
#playlist .ui-button-icon-only {
  width: 1.5rem;
  height: 1.5rem;
}

/*
  Font Settings -> Size: 0.8em
  Corner Radius -> Corners: 0
  Clickable: active state -> Background: #777
  Clickable: active state -> Border: #000
  Header/Toolbar -> Border: #000
*/
